<%- model_class = Pada -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:word) %>:</strong></dt>
  <dd><%= @pada.word %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meaning) %>:</strong></dt>
  <dd><%= @pada.meaning %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pos) %>:</strong></dt>
  <dd><%= @pada.pos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:language_id) %>:</strong></dt>
  <dd><%= @pada.language_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meaning_language_id) %>:</strong></dt>
  <dd><%= @pada.meaning_language_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dictionary_id) %>:</strong></dt>
  <dd><%= @pada.dictionary_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              padas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pada_path(@pada), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pada_path(@pada),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
